@model IEnumerable<SchoolManagement.Models.Tables>

@{
    ViewBag.Title = "StudentProfile";
}


<table class="table">
    <thead>
        <tr>
            <th>Student ID</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Enrollment Date</th>
            <th>Course</th>
            <th>Grade</th>
            <th>Course ID</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var i in Model)
        {
            <tr>
                <td>@i.student.PersonID</td>
                <td>@i.student.FirstName</td>
                <td>@i.student.LastName</td>
                <td>@i.student.EnrollmentDate</td>
                <td>@i.course.Title</td>
                <td>@i.grade.Grade</td>
                <td>@i.grade.CourseID</td>
            </tr>
        }
    </tbody>
</table>

