@model IEnumerable<SchoolManagement.Models.sg>

@{
    ViewBag.Title = "StudentGradeManagement";
}


<table class="table" />
<p>
    <input type="button" class="btn btn-default" value="Create New" onclick="location.href='@Url.Action("Create", "Course")'" />
</p>
<table class="table">
    <thead>
        <tr>
            <th>Student ID</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Course ID</th>
            <th>Grade</th>
            <th>Enrollment Date</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var i in Model)
        {
            <tr>
                <td>@i.grades.StudentID</td>
                <td>@i.students.FirstName</td>
                <td>@i.students.LastName</td>
                <td>@i.grades.CourseID</td>
                <td>@i.grades.Grade</td>
                <td>@i.students.EnrollmentDate</td>

                <td>
                    <input type="button" class="btn btn-primary" value="Edit" onclick="location.href='@Url.Action("Edit", "Student")'" />
                    <input type="button" class="btn btn-danger" value="Delete" onclick="location.href='@Url.Action("Delete", "Course")'" />
                    <input type="button" class="btn btn-info" value="Details" onclick="location.href='@Url.Action("Details", "Course")'" />
                </td>
            </tr>
        }
    </tbody>
</table>
